
.banner {
  min-height: 35rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("../../assets/cover-1600x1067.jpg");
}
.feed {
  min-height: 35rem;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
}


